body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: 20px;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */